
<mat-sidenav-container class='pink-bluegrey-theme'>
  <mat-sidenav #start mode="slide">
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="start.toggle()">
        <mat-icon aria-label="Menu Close Button">close</mat-icon>
      </button>
      {{appName}}
    </mat-toolbar>
    <mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Personal data
          </mat-panel-title>
          <mat-panel-description>
            Type your name and age
          </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-form-field>
          <input matInput placeholder="First name">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Age">
        </mat-form-field>
      </mat-expansion-panel>
      <mat-expansion-panel (opened)="panelOpenState = true"
                          (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Self aware panel
          </mat-panel-title>
          <mat-panel-description>
            Currently I am {{panelOpenState ? 'open' : 'closed'}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>I'm visible because I am open</p>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-sidenav>

  <mat-sidenav #end position="end" mode="slide">
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="start.toggle()">
       <mat-icon aria-label="Menu Close Button">menu</mat-icon>
      </button>
      <span routerLink="/">{{appName}}</span>
      <div class='flex-spacer'></div>
      <theme-picker></theme-picker>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>dialpad</mat-icon>
          <span>Redial</span>
        </button>
        <button mat-menu-item disabled>
          <mat-icon>voicemail</mat-icon>
          <span>Check voicemail</span>
        </button>
        <button mat-menu-item>
          <mat-icon>notifications_off</mat-icon>
          <span>Disable alerts</span>
        </button>
      </mat-menu>
      <button mat-icon-button routerLink="/settings">
        <mat-icon>settings</mat-icon>
      </button>
    </mat-toolbar>
    
    <div class='content'>
      <router-outlet></router-outlet>
    </div>

    <mat-toolbar>Company © 2018
      <button mat-button (click)="openSnackBar('Sending email', 'Cancel')">Send Email</button>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>

